@import "@penpot/plugin-styles/styles.css";

body {
  margin: 0;
  padding: 0;
}

#iconsGrid {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0px;
}

svg {
  width: 24px;
  height: 24px;
  user-select: none;
  pointer-events: none;
}

button {
  border-radius: 2px;
  margin: 4px;
  padding: 4px;
  background-color: transparent !important;
}

input {
  width: 100%;
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 1;
}
